@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
      --background-color-1: #fbfbfb;
      --background-color-2: #f1f1f1;
      --background-color-3: #e2e2e2; /*temp*/
      --button-color: #e7e7e7;
      --sec-button-color: #f9d750;
      --sec-button-border-color: #fce06d;
      --button-gradient: linear-gradient(90deg,rgba(249, 215, 80, 1) 0%, rgba(255, 222, 89, 1) 100%);
      --font-color: #000000;
      --secondary-font-color: #6B7280;
      --shadow-color: #00000041;
      --hover-color: #ececec;

      --font: 'Inter', sans-serif;
      --system-info-font: "Inconsolata", monospace;

      --max-priority: 100;
}

body {
      background: #f2d355;
      background: linear-gradient(0deg,rgba(242, 211, 85, 1) 0%, rgba(255, 244, 214, 1) 100%);

      color: var(--font-color);
      font-family: var(--font);

      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
}

.mainScreen {
      height: 100vh;
      
      display: flex;
      flex-direction: row;
      justify-content: center;
}