.mainContent {
      width: 70vw;
      height: 100vh;
      
      display: flex;
      justify-content: center;
      align-items: center;

      overflow-y: scroll;
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.panel {
      width: 68vw;
      height: 100vh;
}