.walletInfo {
      display: flex;
      flex-direction: column;

      min-height: 100vh;
      background-color: var(--background-color-2);
      box-shadow: 0 0 1vw rgba(0, 0, 0, 0.247);
      overflow: scroll;
}

.walletInfo::-webkit-scrollbar {
      display: none;
}

.block {
      background-color: var(--background-color-2);
      margin-right: 3vw;
      margin-left: 3vw; 
      border-radius: .6vw;
      box-shadow: 0 0 .2vw rgba(178, 178, 178, 0.756);

      padding: 3vh 1.55vw 3vh 1.55vw;
      
      margin-bottom: 4vh; 
}

.walletInfo label {
      padding-top: 2.5vh;
      padding-left: .45vw;
}

.walletName {
      font: var(--font);
      font-size: 2.5rem;
      font-weight: 600;
      /*text-indent: 3vw;*/

      margin-top: 2.5vh;
      margin-left: 3.45vw;
      margin-bottom: 2.1vh; 
}

.publicKeyBlock {
      display: flex;
      align-items: center;
}

.copiedMessage {
      opacity: 0;
      padding: .7vh .5vw .7vh .1vw;
      margin-left: .5vw;
      box-shadow: 0 0 .1vw black;
      border-radius: .1vw;
      transition: opacity 0.2s ease;
      font-family: var(--system-info-font);
      font-size: 1.15rem;
      font-weight: 400;
      background-color: var(--background-color-1);

      display: flex;
      align-items: center;
}

.copiedMessage img {
      width: 1.5rem;
      padding-left: .22vw;
      padding-right: .2vw;
}

.showMessage {
      opacity: 0.7;
}

.publicKey {
      margin-top: .9vh;
      height: 2.6rem;
      border-radius: .35vw;
      border: .15vw solid rgb(218, 218, 218);
      /* background-color: var(--background-color-1); */

      display: flex;
      align-items: center;
      overflow: hidden;
}

.publicKeyBox {
      height: 100%;
      width: 42.3vw;
      background-color: var(--background-color-1);
      color: rgb(32, 32, 32);
      outline: none;
      
      border: none;
      border-top-left-radius: .35vw;
      border-bottom-left-radius: .35vw;
      border-right: .15vw solid rgb(218, 218, 218);

      font-size: 1rem;
      text-overflow: ellipsis;

      padding-left: .8vw;
      padding-right: .43vw;
}

.copyIcon {
      cursor: pointer;
      width: 2.5rem;
      height: 2.6rem;
      background-color: var(--background-color-1);

      border: none;
      border-top-right-radius: .35vw;
      border-bottom-right-radius: .35vw;

      transition-duration: 0.3s;
      opacity: .5;
}

.copyIcon:hover {
      opacity: .4;
}

.balanceBox {
      padding-top: 3.5vh;
      padding-left: .45vw;
}

.balanceInfo {
      display: grid;
      grid-template-columns: 1fr 1fr .7fr;
      align-items: end;
      
}

.balanceInfo .button {
      margin-bottom: .7vh;
}

.balance {
      margin-top: 1vh;
      font-size: 1.3rem;
      font-weight: 600;

      display: flex;
      align-items: center;
}

.icon {
      width: 1.82rem;
      padding-right: .15vw;
}

.blockTitle { 
      font-family: var(--font);
      font-size: 1.7rem;
      font-weight: 600;

      margin-bottom: 50vh;
}

.walletTransactions table{
      margin-top: 1.5vh;
      width: 100%; /*!!!*/

      table-layout: auto;
}

.walletTransactions tr:first-child th {
      border-top: .02vh solid rgb(216, 216, 216);
      border-bottom: .02vh solid rgb(216, 216, 216);
      padding: 1vh 2.5vw 1vh 2.5vw;
      text-align: center;
      width: min-content;
}

.walletTransactions tr td:not(:nth-child(4)) {
      white-space: nowrap;
}

.walletTransactions tr td {
      text-align: center;
      padding-top: 1.2vh;
}

.walletTransactions tr td:nth-child(4) a {
      text-decoration: none;

      word-wrap: break-word;
      word-break: break-all;
}

.noTransactionsMessage {
      width: 100%;
      margin-top: 2.95%;
      margin-bottom: 1%;

      display: flex;
      align-items: center;
      justify-content: center
}

.noTransactionsMessage span {
      font-family: var(--font);
      font-size: 1.55rem;
}

.noTransactionsMessage img {
      user-select: none;
      opacity: .73;
}