.blockInfo {
      width: 45vw;
      height: 93vh;
}

.title {
      font-family: var(--font);
      font-size: 1.65rem;
      color: #222222;
      font-weight: 600;
}

.section {
      margin-top: 1vh;
      border-bottom: .1vw solid rgba(0, 0, 0, 0.155);
      padding-bottom: 1.2vh;
}

.section:nth-of-type(1) {
      padding-top: 1.2vh;
      border-top: .1vw solid rgba(0, 0, 0, 0.155);
}

.contentElement {
      /* padding-top: 3%; */
      min-height: 3.7vh;

      display: flex;
      align-items: baseline;
}

.verticalAlignCenter {
      display: flex;
      align-items: center;
}

.contentElement span{
      display: inline-block;
      word-break: break-all;
}

.contentElement span:first-child{
      white-space: nowrap;
}

.contentElement span:nth-child(2){
      margin-left: .3vw;
}

.showMoreIcon {
      user-select: none;
      cursor: pointer;
      width: 1.7rem;
      margin-left: .07vw;
      
      opacity: .8;
      transition-duration: .2s;
}

.showMoreIcon:hover {
      opacity: .6;
}

.showMoreIcon:active {
      opacity: .3;
}

.inputTable {
      width: 100%;
      table-layout: auto;
      
      background-color: #e8e8e8b3;
      border-radius: 1vw;
      padding: 1vh 1vw 1vh 1vw;
      margin-top: .9vh;
      padding-bottom: 1.9vh;
      margin-bottom: .65vh;

      word-wrap: break-word;
      word-break: break-all;
}

.inputTable tr:first-child th {
      border-bottom: .02vh solid rgb(216, 216, 216);
      padding: 1vh 2.5vw 1vh 2.5vw;
      text-align: center;
      width: min-content;

      word-wrap: none;
      word-break: normal;
}

.inputTable tbody tr:last-child td{
      margin-bottom: 2vh;
}

.inputTable tr td {
      text-align: center;
      padding-top: 1.2vh;
}