.sidebarComponentTitle {
      user-select: none;
      /*text-indent: 4%;*/
      padding: 4% 0 4% 0;
      font-weight: 700;

      display: flex;
      align-items: center;
}

.sidebarComponentTitle span {
      margin-left: .4vw;
}

.sidebarComponentTitle span, .sidebarElement .sidebarElementOption{
      margin-top: 2px;
}

.sidebarElementOption {
      cursor: pointer;
}

.nameEditButton {
      width: 2rem;
}

.sidebarComponent {
      cursor: pointer; 
      width: 100%;
      box-shadow: 0 .1vh 0 rgb(217, 217, 217);
}

.sidebarElements {
      overflow: hidden;
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
      transition-duration: 0.5s;
}

.sidebarElement {
      user-select: none;
      /* padding: 2.5vh 0 2.5vh 0; */
      text-wrap: nowrap;

      height: 9.7vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      /*width: 90%;
      margin-left: auto;
      margin-right: auto;*/  
} 

.sidebarElement:hover .nameEditButton{
      opacity: .7;
      margin-right: 2vw;
}


.nameEditButton {
      opacity: 0;
      transition-duration: .18s;
      transition-timing-function: linear;
      margin-right: 2.3vw;
      
      justify-self: end;
      align-self: center;

      pointer-events: auto;
}

.sidebarElement:has(.nameEditButton:hover) .nameEditButton {
      opacity: .35;
}

.sidebarElement:has(.nameEditButton:active) .nameEditButton {
      opacity: 0.2;
      transition-duration: .1s;
}

.sidebarElement .sidebarElementOption {
      background-color: transparent;
      font-family: var(--font);
      font-size: 1rem;

      padding-left: .7vw;
      border: none;
      outline: none;
}

.sidebarElement:not(.selectedElement) .sidebarElementOption {
      margin-left: calc(1.8vw + 2.59rem);
}


.sidebarElement:not(.selectedElement):hover, .sidebarComponentTitle:hover {
      background-color: var(--hover-color);
}

.selectedElement {
      display: grid;
      grid-template-columns: 0.25fr 1fr 1fr;
      background-color: var(--sec-button-color);

      align-items: center;
}

.sidebarComponent .icon{
      width: 2.59rem;
      opacity: 80%;
      padding-left: 2.1%;
}

.sidebarElements .icon {
      padding-left: 1.8vw;
      /*filter: invert(94%) sepia(92%) saturate(1554%) hue-rotate(329deg) brightness(100%) contrast(94%); /* filtergenerator */
}